@import 'tailwindcss';

:root {
  /* Color system */
  --background: #ffffff;
  --foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --border: #e5e5e5;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --sand-10: #f1eee5;
}

@theme inline {
  /* Typography */
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);
  --font-header: var(--font-grand-slang);
  --font-text: var(--font-stint-ultra-expanded);
  --font-date: var(--font-maelstrom);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --muted: #171717;
    --muted-foreground: #a3a3a3;
    --border: #262626;
    --accent: #171717;
    --accent-foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--font-roboto), sans-serif;
/*   background-image: url('/background-image.webp'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: var(--sand-10);

/*   padding: 20px; */
}

/* Ensure background image works well with dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-blend-mode: multiply;
  }
}

h1 {
  font-family: var(--font-grand-slang), serif;
  font-size: 10vw;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.2em;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-grand-slang), serif;
}

.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}
.font-maelstrom {
  font-family: var(--font-maelstrom), serif;
}
.font-grand-slang {
  font-family: var(--font-grand-slang), serif;
}
